-
  var meta = {
    "home": {
      "title": "タイトル",
      "description": "デスクリプション",
      "keywords":"キーワード",
      "url":"url",
      "type":"website"
    },
    "hoge": {
      "title": "pughogepughoge",
      "description": "",
      "keywords":"",
      "url":"",
      "type":"article"
    }
  };