doctype html
html(lang='ja')
  head
    include _layout/_head.pug
  body#js-drawer 
    include _components/_animation/_global-nav.pug
    include _layout/_header.pug
    main.main__wrap
    include _layout/_footer.pug
    include _layout/_script-list.pug