doctype html
html(lang='ja')
  head
    include layout/head.pug
  body#js-drawer 
    include components/animation/global-nav.pug
    include layout/header.pug
    main.main__wrap
      picture 
        source(media="(min-width: 768px)", srcset="")
        source(media="(max-width: 767px)", srcset="")
    include layout/footer.pug
    include layout/script-list.pug