<dl class="accordion js-accordion">
  <div class="accordion__item js-accordion-trigger">
    <dt class="accordion__title">SサイズとMサイズでどちらがいいですか？</dt>
    <dd class="accordion__content">DEMO1のコンテンツ</dd>
  </div>
  <div class="accordion__item js-accordion-trigger">
    <dt class="accordion__title">カヤックとの違いは何ですか？</dt>
    <dd class="accordion__content">DEMO1のコンテンツ</dd>
  </div>
  <div class="accordion__item js-accordion-trigger">
    <dt class="accordion__title">試乗は可能ですか？</dt>
    <dd class="accordion__content">DEMO1のコンテンツ</dd>
  </div>
  <div class="accordion__item js-accordion-trigger">
    <dt class="accordion__title">製品には何が付属しますか？</dt>
    <dd class="accordion__content">DEMO1のコンテンツ</dd>
  </div>
  <div class="accordion__item js-accordion-trigger">
    <dt class="accordion__title">保証はどうなっていますか？</dt>
    <dd class="accordion__content">DEMO1のコンテンツ</dd>
  </div>
  <div class="accordion__item js-accordion-trigger">
    <dt class="accordion__title">万が一の際、修理はどうしたらいですか？</dt>
    <dd class="accordion__content">DEMO1のコンテンツ</dd>
  </div>
  <div class="accordion__item js-accordion-trigger">
    <dt class="accordion__title">もっと画像はありませんか？</dt>
    <dd class="accordion__content">DEMO1のコンテンツ</dd>
  </div>
  <div class="accordion__item js-accordion-trigger">
    <dt class="accordion__title">空気はどれくらい入れたらいいですか？</dt>
    <dd class="accordion__content">DEMO1のコンテンツ</dd>
  </div>
</dl>